/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: white;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.home {
  display: flex;
}

.bg-image {
  background-image: url('../../assets/background-small.jpg');
  filter: blur(10px) brightness(0.3);
  position: absolute;
  height: 100%;
  width: 100%;
  transform: scale(1.1);

  /* Center and scale the image nicely */
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.bg-content {
  /* transform: translate(-50%, -50%); */
  display: flex;
  margin: auto;
  margin-top: 10%;
  z-index: 1;
  transition: all 0.3s ease;
}

button {
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1.3rem;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: all ease-in 0.1s;
  cursor: pointer;
  opacity: 0.9;
}

button:hover {
  transform: scale(1.05);
  opacity: 1;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

.projectlist--buttons {
  margin: 5px 5px;
}
